DISCORD_TOKEN=
GUILD_ID=
BYPASS_API_URL=https://apis.zeox.xyz
BYPASS_API_TIMEOUT=300000
PREFIX=a!
BOT_NAME=Bypass Tools
SUPPORT_SERVER_URL=https://discord.gg/qXUENfzHVH
INVITE_BOT_URL=https://discord.com/oauth2/authorize?client_id=1537831595787030598&permissions=8&integration_type=0&scope=bot
