DISCORD_TOKEN=
GUILD_ID=
BYPASS_API_URL=https://api.bananaone.dpdns.org
BYPASS_API_TIMEOUT=300000
PREFIX=a!
BOT_NAME=Bypass Tools
SUPPORT_SERVER_URL=https://discord.gg/qXUENfzHVH
INVITE_BOT_URL=https://discord.com/oauth2/authorize?client_id=1537831595787030598&permissions=8&integration_type=0&scope=bot
BANNER_URL=https://cdn.discordapp.com/attachments/1535097987905228923/1541773763434254420/Fluxwave-banner.png?ex=6a8ed035&is=6a8d7eb5&hm=a2daec647788ffd47a37a654a574b16c95087d0104636710563b0d352a2f06b0&
